{% extends 'admin/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage About <a href="{{url_for('add_about')}}"><button type="button"  class="btn btn-success float-right"
                data-toggle="modal">Add New About</button> </h2></a>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Text</th>
                        <th>Image</th>
                        <th>Date Posted</th>
                    </tr>
                    {% for aboutdata in about %}
                    <tr>
                        <td>{{aboutdata.id}}</td>
                        <td>{{aboutdata.text}}</td>
                        <td>{{aboutdata.image|truncate(15)}}</td>
                        <td>
                            <a href="{{url_for('edit_about', id=aboutdata.id)}}" class="btn btn-info btn-xs">Edit</a>
                            <a href="{{url_for('delete_about', id=aboutdata.id)}}" class="btn btn-danger btn-xs" 
                            onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}