{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- LeftPart -->
            <div class="col-3"></div>
            <!-- RightPart -->
            <div class="col-lg-9 col-sm-12 col-md-12">
                <div class="rightpart">
                    <div class="contact">
                        <div class="title">
                            <h5>Contact</h5>
                        </div>
                        <div class="left">
                            <h1>Get in Touch</h1>
                        </div>
                        <div class="contact-part">
                            <div class="container-fluid">
                                <div class="row">
                                <div class="contact-forum">
                                    <form action="" method="post" class="">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{form.name(class="mt-5")}}
                                        </div>
                                        <div class="form-group">
                                            {{form.email(class="mt-5")}}
                                        </div>
                                        <div class="form-group">
                                            {{form.message(class="mt-5")}}
                                        </div>
                                        {{form.submit(class="mt-5")}}
                                    </form> 
                                </div>
                                    <div class="col-lg-6 col-sm-12 col-md-6">
                                        <div class="items-contact"><i class="fas fa-mail-bulk"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>