{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- LeftPart -->
            <div class="col-3"></div>
            <!-- RightPart -->
            <div class="col-lg-9 col-sm-12 col-md-12">
                <div class="rightpart">
                    <div class="home main-section">
                        <div class="home-content">
                        {% for homedata in home %}
                            <div class="avatar"><img src="../static/images/{{homedata.image}}"></div>                       
                            <div class="details">
                                <h6 class="name">{{homedata.name}}</h6>
                                <p class="job">{{homedata.text}}</p>
                                <div class="sosial">
                                    <a href="{{homedata.fb}}" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                    <a href="{{homedata.insta}}" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <a href="{{homedata.twitter}}" target="_blank"><i class="fab fa-twitter-square"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>