.about {
    max-width: 700px;
    height: 100vh;
}

.about-image {
    margin-top: 10px;
}

.description-inner {
    display: flex;
    align-items: center;
    width: 100%;
}

.name2 {
    margin: 25px auto;
    color: #bbb;
}

.left {
    padding-right: 30px;
}

.right {
    width: 30%;
}

.btn {
    margin-top: 45px;
    background-color: rgb(221, 221, 221)
}

.btn :hover {
    box-shadow: 2px 0 8px gray;
}

.right ul li p span {
    color: #bbb;
}