.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    width: 60%;
    display: flex;
    align-items: center;
}

.avatar {
    padding: 0 55px 0 30px;
    max-width: 400px;
}

.avatar img {
    animation: morph 8s ease-in-out infinite;
    box-shadow: 5px 5px 25px rgb(162 160 160);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    width: 100%;
    z-index: 5;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
}

.name {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.job {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(219, 219, 219);
}