/* @media only screen and (max-width: 768px) {

    .home-content {
        display: block !important;
    }
} */

@media only screen and (max-width: 1024px) {
    .col-3 {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    .home-content {
        display: block !important;
    }
    .description-inner {
        display: block !important;
    }
    .details {
        padding-left: 25px;
    }
    .about {
        width: 100% !important;
    }
    .about-image {
        width: 65%;
        margin: 10px auto 0 auto;
    }
    .name {
        padding: 45px 0 0 10px;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
    }
    .name2,
    .left,
    .right {
        padding-left: 50px;
    }
    .btn {
        margin: 20px 0;
    }
    .portfolio {
        width: 100%;
    }
    h1 {
        display: none !important;
    }
    .portfolio-list ul {
        flex-wrap: wrap;
    }
    .title {
        width: 100% !important;
    }
    .contact {
        height: 100vh !important;
    }
    .contact-forum {
        width: 100% !important;
    }
    .items-contact {
        display: none !important;
    }
    .cursor,
    .cursor2 {
        display: none !important;
    }
}

@media only screen and (min-width: 990px) {
    .col-3 {
        display: block !important;
    }
    .mobile {
        display: none !important;
    }
}

@media only screen and (max-width:568px) {
    .about {
        height: 100% !important;
        width: 100% !important;
    }
}